/*
Css for Demo layout
*/

iframe {
    border: 2px solid black;
    border-radius: 10px;
}
#editor {
    width: 600px;
    height: 775px;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
  }
